@model IEnumerable<LibApp.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

@if (this.User.IsInRole("Owner") || this.User.IsInRole("StoreManager"))
{
    <p>
        <a class="btn btn-primary" asp-action="New">New Book</a>
    </p>
}

<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th colspan="2">Genre</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#books").DataTable({
                ajax: {
                    url: "/api/books",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, book) {
                            return "<a href='books/details/" + book.id + "'>" + book.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    }
                ]
            })
        })
    </script>
}